

@import "./css/animations/animations";
@import "./css/variables";
@import "./css/sections/header";
@import "./css/sections/aboutme";
@import "./css/variables";


* {
    box-sizing: border-box; 
  }
  
  body {
    margin: 0; 
    font-weight: 500;
    font-family: 'HelveticaNeue';
  }
  
  section {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
    
   
  }
  
  .intro {
    height: 90vh;
  }
  
  .content {
    display: table-cell;
    vertical-align: middle;
  }
  

  
 
  .header-section{
      width:100%;
    background-image: linear-gradient(
         rgba($color-primary-light, 0.8),
         rgba($color-secondary, 0.8)
       ),
       url("./img/nyc.gif"); background-color: red;
    background-size: cover;
   
    .header-intro {
        text-align: center;
        color: #f4f4f4;
        
        & h1 {
            font-size: 5.5rem;
            font-weight: 900;
            // animation: move-in-up 2s;
            font-family: 'Varela Round', sans-serif;


   
        }
        & h3 {
           font-size: 3.7rem;
           font-weight: 900;
        //    animation: fade-in 2s 500ms;
           opacity: 0;
           animation-fill-mode: forwards;
           font-family: 'Nunito Sans', sans-serif;
        
        }
       & img {
           border-radius: 50%;
           box-shadow: 0 20px 40px -30px rgba(0,0,0,.4);
        //    animation: move-in-down 2s, pulse 4s 3s infinite alternate-reverse;  
         
       }
    }
   
   
   }

.contact {
    text-align: center;
    opacity: 0;
    // animation: fade-in-2 2s 800ms;
    animation-fill-mode: forwards;
}



i {
    font-size: 10rem;
    background: linear-gradient(
        rgba($color-primary-accent, 0.8),
        rgba($color, 0.8)
      );    
    padding: 2rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .8s;
    &:hover {
        transform: scale(1.1);
        opacity: .8;
    }
    
}

