@-webkit-keyframes move-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translatey(-1000px);
            transform: translatey(-1000px);
  }
  50% {
    opacity: .5;
    -webkit-transform: translatey(-50px);
            transform: translatey(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatey(0);
            transform: translatey(0);
  }
}

@keyframes move-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translatey(-1000px);
            transform: translatey(-1000px);
  }
  50% {
    opacity: .5;
    -webkit-transform: translatey(-50px);
            transform: translatey(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatey(0);
            transform: translatey(0);
  }
}

@-webkit-keyframes move-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translatey(1000px);
            transform: translatey(1000px);
  }
  50% {
    opacity: .5;
    -webkit-transform: translatey(50px);
            transform: translatey(50px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translatey(1000px);
            transform: translatey(1000px);
  }
  50% {
    opacity: .5;
    -webkit-transform: translatey(50px);
            transform: translatey(50px);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translatey(1000px);
            transform: translatey(1000px);
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translatey(1000px);
            transform: translatey(1000px);
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes fade-in-2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
    -webkit-transform: scale(1.1) rotate(360deg);
            transform: scale(1.1) rotate(360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fade-in-2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
    -webkit-transform: scale(1.1) rotate(360deg);
            transform: scale(1.1) rotate(360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes pulse {
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: .5;
  }
  70% {
    -webkit-transform: rotatey(180deg);
            transform: rotatey(180deg);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes pulse {
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: .5;
  }
  70% {
    -webkit-transform: rotatey(180deg);
            transform: rotatey(180deg);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 500;
  font-family: 'HelveticaNeue';
}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
}

.intro {
  height: 90vh;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

.header-section {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 123, 160, 0.8)), to(rgba(242, 95, 92, 0.8))), url("./img/nyc.gif");
  background-image: linear-gradient(rgba(36, 123, 160, 0.8), rgba(242, 95, 92, 0.8)), url("./img/nyc.gif");
  background-color: red;
  background-size: cover;
}

.header-section .header-intro {
  text-align: center;
  color: #f4f4f4;
}

.header-section .header-intro h1 {
  font-size: 5.5rem;
  font-weight: 900;
  font-family: 'Varela Round', sans-serif;
}

.header-section .header-intro h3 {
  font-size: 3.7rem;
  font-weight: 900;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  font-family: 'Nunito Sans', sans-serif;
}

.header-section .header-intro img {
  border-radius: 50%;
  -webkit-box-shadow: 0 20px 40px -30px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 40px -30px rgba(0, 0, 0, 0.4);
}

.contact {
  text-align: center;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

i {
  font-size: 10rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 224, 102, 0.8)), to(rgba(112, 193, 179, 0.8)));
  background: linear-gradient(rgba(255, 224, 102, 0.8), rgba(112, 193, 179, 0.8));
  padding: 2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all .8s;
  transition: all .8s;
}

i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: .8;
}
/*# sourceMappingURL=main.css.map */