// Header animations
@keyframes move-in-down {
        0%{
            opacity: 0;
            transform: translatey(-1000px);
        }
    50% {
        opacity: .5;
        transform: translatey(-50px);
    }
    100% {
        opacity: 1;
        transform: translatey(0);

    }
}
@keyframes move-in-up {
    0%{
        opacity: 0;
        transform: translatey(1000px);
    }
50% {
    opacity: .5;
    transform: translatey(50px);
}
100% {
    opacity: 1;
    // transform: translatey(10px);

}
}
@keyframes fade-in {
    0%{
        opacity: 0;
        transform: translatey(1000px);
    }
50% {
    opacity: .5;
}
100% {
    opacity: 1;
    transform: scale(1.2)


}
}
@keyframes fade-in-2 {
    0%{
        opacity: 0;
    }
50% {
    opacity: .5 ;
    transform: scale(1.1) rotate(360deg);
}
100% {
    opacity: 1;
    transform: scale(1)


}
}

@keyframes pulse {
  
    50% {
        transform: scale(.7);
        opacity: .5;
    }
    70%{
        transform: rotatey(180deg)
    }
    100% {
        transform: scale(1.1);
        opacity: 1
    }
}